# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Virtual Environment folder
venv/
env/
.env

# Ignore Data files (Never upload huge CSVs)
*.csv
*.parquet
*.json

# Ignore Mac system files
.DS_Store
