# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Virtual Environment folder
venv/
env/

# Ignore ALL env / secret files (.env, .env.env, .env.local, ...)
.env*
*.env

# Ignore Data files (Never upload huge CSVs)
*.csv
*.parquet
*.json

# Ignore generated data + logs
datasets/
*.log

# Ignore Mac system files
.DS_Store

# but do track the example template
!.env.example
